<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>  
        <typeAlias alias="User" type="com.turtledove.bookdrift.domain.entity.User"/>
        <typeAlias alias="Book" type="com.turtledove.bookdrift.domain.entity.Book"/>
        <typeAlias alias="BookInfo" type="com.turtledove.bookdrift.domain.entity.BookInfo"/>
        <typeAlias alias="Label" type="com.turtledove.bookdrift.domain.entity.Label" />
        <typeAlias alias="UserBookAss" type="com.turtledove.bookdrift.domain.entity.UserBookAss"/>  
    </typeAliases>  
    <mappers>  
        <mapper resource="sqlMapper/UserDao.xml" />
        <mapper resource="sqlMapper/BookDao.xml"/>  
        <mapper resource="sqlMapper/LabelDao.xml"/>
        <mapper resource="sqlMapper/UserBookAssDao.xml"/>
    </mappers>  
</configuration>    