body {
	font-family: 微软雅黑 ,Consolas;
	font-size: 14px;
	background-color: #ffffee;
	min-width: 1000px;
}

example {
	display: none;
}

/* hover */
.btn:hover {
	color: #ffffcc;
	background: #336666;
	transition: background 0.5s;
}

.glyphicon:hover {
	cursor: pointer;
}

/* navbar */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #336666;
  transform: translate(0, 3px);
  background-color: transparent;
}

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
  box-shadow: inset 0 0 15px #f0f0f0;
  transform: translate(0,0);
}

.nav > li > a:hover {
	background-color: #ffffcc;
	transition: background-color 0.5s;
}

.nav > li > a:focus {
	background-color: inherit;
}

/* modal */
.modal-content {
	background-color: #ffffee;
	//border-radius: 0;
	box-shadow: 0 3px 9px rgba(206, 171, 65, 0.5);
}

/* form */
.form-control:focus {
	border-color: #ceab65;
	box-shadow: 0 0 8px rgba(206, 171, 65, 0.6)
}

/* popover */
.popover {
	max-width: 400px;
	box-shadow: 0 5px 10px rgba(206, 171, 65, 0.5);
}

.help-block {
	font-size: 12px;
}

.v-center-bg {
	position: relative;
	top: 180px;
	width: 100%;	
	padding: 25px 0;
	border-style: solid;
	border-width: 1px 0;
	border-color: #336666;
	background: #ceab65;
}

/* show books */
.navbar .glyphicon {
	padding-top: 2px;
}

.icon-badge {
	position: absolute;
	top: 8px;
	right: 5px;
	color: #ceab65;
	font-size: 10px;
}

.thumbnail {
	position: relative;
	min-height: 160px;
}

.thumbnail:hover {
	color: #336666;
	background: #ffffcc;
	transition: background 0.5s;
}

.book-summary {
	display: none;
	min-width: 200px;
	max-height: 200px;
	overflow: auto;
}


.status {
	position: absolute;
	display: block;
	padding: 0;
	top: 5px;
	right: 5px;
	font-size: 16px;
	text-align: right;
	width: 20px;
	height: 20px;
	transition: height 1s;
	overflow: hidden;
}
.status:hover {
	height: 70px;
	transition: height 1s;
}

.status > li {
	font-size: 16px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0px;
}
	
.status > li:hover {
	color: #ceab65;
	cursor: pointer;
	background: transparent;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	text-shadow: 0 1px 0 #ffffff;
	color: #666666;
	border-width: 1px 0 0 0;
	box-shadow: none;
	background-image: -moz-linear-gradient(left, #bcab23 5%, #ceab65);
	background-image: linear-gradient(left, #ffffee 15%, #ceab65);
}

.nav-pills > li {
	position: relative;
}

.nav-pills > li > a {
	border-radius: 0;
	text-align: center;
	border: none;
	color: #888888;
}

.fixed-tags .nav-pills .glyphicon {
	display: none;
	color: #777777;
}

.fixed-tags .nav-pills li:hover .glyphicon {
	display: block;
	position: absolute;
	right: 15px;
	line-height: 34px;
}

.fixed-tags {
	position: fixed;
	top: 100px;
	left: 0;
	width: 200px;
	z-index: 3;
	transition: left 0.5s;
}
.fixed-tags > ul > li {
	display: block;
	height: 0;
	font-size: 0;
	transition: height 0.6s, font-size 0.5s;
}
.fixed-tags > ul > li.active > a {
	display: block;
	font-size: 14px;
	height: 37px;
	//box-shadow: 2px 0px 2px rgba(222, 222, 0, 0.6);
}

.fixed-tags > ul:hover > li {
	display: block;
	height: 37px;
	font-size: 12px;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: #dddddd;
	transition: height 0.6s, font-size 0.5s;
}

#searchInput {
	display: none;
}

/* search books */
.fixed-books {
	width: 100%;
	display: block;
	position: absolute;
	top: -300px;
	z-index: 9;
	transition: top 1.5s;
}

.list-group {
	margin-top: 20px;
}
.list-group-item {
	margin: 10px 20%;
}
.list-group-item > p {
	position: absolute;
	bottom: 5px;
	right: 20px;
}

.list-group-item > small {
	position: absolute;
	bottom: 40px;
	right: 20px;
}

.list-group-item > div > span {
	position: absolute;
	top: 20px;
	right: 20px;
}
.list-group-item > div > span:hover {
	cursor: pointer;
	color: #ceab65;
	font-size: 14px;
}

img:hover {
	cursor: pointer;
}

/* messge */
#message {
	display: none;
	position: fixed;
	bottom: 50px;
	left: 35%;
	width: 30%;
}

.msg-pane {
	max-height: 150px;
	width: 100%;
	opacity: 0.7;
	padding: 10px 4px;
	overflow: auto;
}

.input-inset {
	position: relative;
}
.input-inset>input {
	text-indent: 20px;
}
.input-inset .glyphicon {
	line-height: 34px;
}
.input-inset .glyphicon:hover {
	cursor: pointer;
}